@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: #1d1d1d;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #ddd;
}

a {
    color: #ddd;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 10% 0 10%;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgb(40, 40, 40);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

strong {
    font-weight: 800;
}

.padding-top {
    padding-top: 1rem;
}

.nav-desktop a:hover {
    background-color: #ddd;
    color: black;
}

.logo-wrapper:hover {
    cursor: pointer;
}

#burger-menu {
    display: none;
}

.nav-item {
    text-decoration: none;
    padding: 16px;
    color: #dadada;
    font-size: 1.25rem;
}

.logo-wrapper h4 {
    font-size: 1.25rem;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 12px;
    margin: 5% 10% 10% 10%;
}

.full-width {
    grid-column: 1 / span 13;
}

.resume-btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 230px;
    height: 60px;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
    outline: none;
    padding: 2px;
    background-color: transparent;
    color: #ddd;
    cursor: pointer;
    letter-spacing: 2px;
    border: 1px solid #ddd;
}

.hero-content {
    margin-bottom: 2rem;
    font-size: 1.75rem;
}

.left-align {
    grid-column: 1 / span 6;
}

.right-align {
    grid-column: 7 / span 6
}

#tiny-tails-img {
    background-image: url("../images/tinyTails.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

#grocery-mate-img {
    background-image: url("../images/GroceyMate.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

.grocery-mate {
    text-align: right;
    margin-right: 2%;
}


/* button:active {
    transform: scale(1.1);
} */

.case-study {
    font-size: 1.25rem;
}

.read-cs {
    cursor: pointer;
}

#back-to-top {
    display: block;
    /* display: none; */
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: #717abb;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
}

#back-to-top:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

footer {
    height: 150px;
    background-color: rgb(40, 40, 40);
}

.copyrights {
    grid-column: 1 / span 6;
    opacity: 0.5;
}

.footer-menu {
    grid-column: 7
}

.socials {
    grid-column: 8;
}

@media only screen and (max-width: 800px) {
    #burger-menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-desktop {
        display: none;
    }
    .hero-content {
        font-size: 1rem;
    }
    footer {
        height: auto;
    }
    .copyrights {
        grid-row: 1;
        grid-column: 1 / span end;
    }
    .footer-menu {
        grid-row: 2;
        grid-column: 1;
    }
    .socials {
        grid-row: 3;
        grid-column: 1;
    }
    .right-align {
        grid-area: 1 /1 /1 /span end;
    }
    .left-align {
        grid-area: 2 /1 /2 /span end;
    }
}